@import "../../../node_modules/font-awesome/scss/variables";
@import "../../../node_modules/font-awesome/scss/icons";

.pull-img {
    width: 58%;
    float: left;
    margin-top: 100px;
    padding-left: 10px;
}

.form-content {
    background-color: #fff;
    width: 335x;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.login-logo {
    width: 247px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.form-title {
    font-weight: 300;
    margin-bottom: 25px;    
    font-size: 18px !important;
}
.control-group {
    margin-bottom: 20px !important;
}

.form-group.input-group{
    padding-bottom: 4px;
}

.role-login-group{
    display: flex;

    select{
        width: 53%;
        margin-right: 26%;
    }

}


.form-copyright {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    color: #999;
    font-size: 11px;
}
.forget-password h4{
    color: rgb(59, 51, 51);
    font-weight: 500;
    font-size: 18px;
    font-family: inherit;
    line-height: 20px;
}
.forget-password {
    margin-top: 25px;
}

a {
    text-shadow: none !important;
    color: #0d638f;
}