
.pull-img {
    width: 58%;
    float: left;
    margin-top: 100px;
    padding-left: 10px;
}

.form-content {
    background-color: #fff;
    width: 291px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.form-title {
    font-weight: 300;
    margin-bottom: 25px;    
    font-size: 18px !important;
}
.control-group {
    margin-bottom: 20px !important;
}

.form-copyright {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    color: #999;
    font-size: 11px;
}
