<div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header" style="background-color: #4b8df8;color: white;">
                    <strong style="font-size: 18px;">Add Channel</strong>
                </div>
                <div class="card-body">
                    <form name="form" [formGroup]="form" (ngSubmit)="form.valid">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="company">Company<span style="color:red">*</span></label>
                                    <select class="custom-select" (change)="CountryChange($event)" formControlName="company">
                                        <option value="0">--Select Company--</option>
                                        <option *ngFor="let company of companies" [value]="company.id">
                                            {{company.name}}</option>
                                    </select>
                                    <div *ngIf="form.get('company').errors" class="invalid-feedback">
                                        <div *ngIf="form.get('company').errors?.required">Please select company
                                        </div>
                                    </div>
                                    <!-- error block -->
                                    <div class="invalid-feedback" *ngIf="form.get('company').errors?.required">
                                        <sup>*</sup>Please select company
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="name">Name<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="name"
                                        [ngClass]="{'is-invalid':form.get('name').touched && form.get('name').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="category">Category<span style="color:red">*</span></label>
                                    <select class="custom-select" (change)="CountryChange($event)" formControlName="category">
                                        <option value="0">--Select Category--</option>
                                        <option *ngFor="let category of categories" [value]="category.id">
                                            {{category.name}}</option>
                                    </select>
                                    <div *ngIf="form.get('category').errors" class="invalid-feedback">
                                        <div *ngIf="form.get('category').errors?.required">Please select category
                                        </div>
                                    </div>
                                    <!-- error block -->
                                    <div class="invalid-feedback" *ngIf="form.get('category').errors?.required">
                                        <sup>*</sup>Please select category
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="servicetype">Service Type<span style="color:red">*</span></label>
                                    <select class="custom-select" (change)="CountryChange($event)" formControlName="servicetype">
                                        <option value="0">--Select Service Type--</option>
                                        <option *ngFor="let serviceType of serviceTypes" [value]="servicetype.id">
                                            {{serviceType.name}}</option>
                                    </select>
                                    <div *ngIf="form.get('servicetype').errors" class="invalid-feedback">
                                        <div *ngIf="form.get('servicetype').errors?.required">Please select Service Type
                                        </div>
                                    </div>
                                    <!-- error block -->
                                    <div class="invalid-feedback" *ngIf="form.get('servicetype').errors?.required">
                                        <sup>*</sup>Please select Service Type
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                    <div class="form-group">
                                        <label for="switch-2">Local</label>
                                        <div>
                                            <app-switch id="switch-2" formControlName="local"></app-switch>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-2">
                                    <div class="form-group">
                                        <label for="switch-2">Digital</label>
                                        <div>
                                            <app-switch id="switch-2" formControlName="digital"></app-switch>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-2">
                                    <div class="form-group">
                                        <label for="switch-2">Free</label>
                                        <div>
                                            <app-switch id="switch-2" formControlName="free"></app-switch>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-2">
                                    <div class="form-group">
                                        <label for="switch-2" style="width: 10vw;">Fix Price</label>
                                        <div>
                                            <app-switch id="switch-2" formControlName="fixprice"></app-switch>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                    <div class="form-group">
                                        <label for="switch-2" style="width: 15vw;">Free day on first activation</label>
                                        <div>
                                            <app-switch id="switch-2" formControlName="freedayonfirstactivation"></app-switch>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                        <label for="switch-2" style="width: 10vw;">Single Sold</label>
                                        <div>
                                            <app-switch id="switch-2" formControlName="singlesold"></app-switch>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="cotenturl">Content URL</label>
                                    <input type="text" class="form-control" formControlName="cotenturl"/>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="channelsignal">Channel Signal<span style="color:red">*</span></label>
                                    <select class="custom-select" (change)="CountryChange($event)" formControlName="channelsignal">
                                        <option value="0">--Select Signal--</option>
                                        <option *ngFor="let category of channelSignals" [value]="channelsignal.id">
                                            {{channelsignal.name}}</option>
                                    </select>
                                    <div *ngIf="form.get('channelsignal').errors" class="invalid-feedback">
                                        <div *ngIf="form.get('channelsignal').errors?.required">Please select channel signal
                                        </div>
                                    </div>
                                    <!-- error block -->
                                    <div class="invalid-feedback" *ngIf="form.get('channelsignal').errors?.required">
                                        <sup>*</sup>Please select channel signal
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="cotenturl">Item Code</label>
                                    <input type="text" class="form-control" formControlName="itemcode"/>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-6">
                                <label style="font-size: 20px;">Auto Prepaid Subscriber Settings </label>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="subscriptiontype">Subscription Type</label>
                                    <select class="custom-select" (change)="CountryChange($event)" formControlName="subscriptiontype">
                                        <option value="0">--Select Subscription Type--</option>
                                        <option *ngFor="let subscriptionType of subscriptionTypes" [value]="subscriptiontype.id">
                                            {{subscriptiontype.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="subscriptionvalue" style="width: 12vw;">Subscription Value<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="subscriptionvalue"
                                        [ngClass]="{'is-invalid':form.get('subscriptionvalue').touched && form.get('subscriptionvalue').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Subscription Value is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="freedays">Free Days</label>
                                    <input type="text" class="form-control" formControlName="freedays" />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="masterstbautoprepaidcharges">Master STB Auto Prepaid Charges<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="masterstbautoprepaidcharges"
                                        [ngClass]="{'is-invalid':form.get('masterstbautoprepaidcharges').touched && form.get('masterstbautoprepaidcharges').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Master STB Auto Prepaid Charges is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="childstbautoprepaidcharges" style="width: 18vw;">Child STB Auto Prepaid Charges<span style="color:red">*</span> </label>
                                    <input type="text" class="form-control" formControlName="childstbautoprepaidcharges"
                                        [ngClass]="{'is-invalid':form.get('childstbautoprepaidcharges').touched && form.get('childstbautoprepaidcharges').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Child STB Auto Prepaid Charges is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label style="font-size: 20px;">Prepaid & Postpaid Subscriber Settings </label>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-6">
                                <label style="font-size: 20px;">Master STB Price </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="montlhyprice">Monthly Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="montlhyprice"
                                        [ngClass]="{'is-invalid':form.get('montlhyprice').touched && form.get('montlhyprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Monthly Price is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="threemonthsprice" style="width: 12vw;">Three Months Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="threemonthsprice"
                                        [ngClass]="{'is-invalid':form.get('threemonthsprice').touched && form.get('threemonthsprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Three Months Price is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="sixmonthsprice">Six Months Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="sixmonthsprice"
                                        [ngClass]="{'is-invalid':form.get('sixmonthsprice').touched && form.get('sixmonthsprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Six Months Price is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="ninemonthsprice" style="width: 12vw;">Nine Months Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="ninemonthsprice"
                                        [ngClass]="{'is-invalid':form.get('ninemonthsprice').touched && form.get('ninemonthsprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Nine Months Price is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="yearlyprice">Yearly Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="yearlyprice"
                                        [ngClass]="{'is-invalid':form.get('yearlyprice').touched && form.get('yearlyprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Yearly Price is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label style="font-size: 20px;">Child STB Price </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="montlhyprice">Monthly Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="montlhyprice"
                                        [ngClass]="{'is-invalid':form.get('montlhyprice').touched && form.get('montlhyprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Monthly Price is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="threemonthsprice" style="width: 12vw;">Three Months Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="threemonthsprice"
                                        [ngClass]="{'is-invalid':form.get('threemonthsprice').touched && form.get('threemonthsprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Three Months Price is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="sixmonthsprice">Six Months Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="sixmonthsprice"
                                        [ngClass]="{'is-invalid':form.get('sixmonthsprice').touched && form.get('sixmonthsprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Six Months Price is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="ninemonthsprice" style="width: 12vw;">Nine Months Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="ninemonthsprice"
                                        [ngClass]="{'is-invalid':form.get('ninemonthsprice').touched && form.get('ninemonthsprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Nine Months Price is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="yearlyprice">Yearly Price<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" formControlName="yearlyprice"
                                        [ngClass]="{'is-invalid':form.get('yearlyprice').touched && form.get('yearlyprice').invalid}"
                                        required />
                                    <div class="invalid-feedback">
                                        <div>Yearly Price is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="generalfreedays">General Free Days</label>
                                    <input type="text" class="form-control" formControlName="generalfreedays"/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="startdate">Start Date</label>
                                    <input type="date" class="form-control" formControlName="startdate" />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="enddate">End Date</label>
                                    <input type="date" class="form-control" formControlName="enddate" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea type="text" class="form-control" formControlName="description">
                                            </textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="modulator">Modulator</label>
                                            <input type="text" class="form-control" formControlName="modulator"/> 
                                        </div>
                                        <div class="form-group">
                                            <label for="language">Language</label>
                                            <input type="text" class="form-control" formControlName="language"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="lcnno">LCN No.</label>
                                            <input type="text" class="form-control" formControlName="lcnno"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="lcnrank">LCN Rank</label>
                                            <input type="text" class="form-control" formControlName="lcnrank"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                Logo Control
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <button class="btn btn-primary mr-4" [disabled]="!form.valid" (click)="onSubmit()">Save</button>
                        <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>